.bg--rs-red {
    background-color: var(--rs-red);
}

.bg--rs-purple {
    background-color: var(--rs-purple);
}

.bg--rs-blue {
    background-color: var(--rs-blue);
}

.bg--rs-green {
    background-color: var(--rs-green);
}

.bg--rs-yellow {
    background-color: var(--rs-yellow);
}

.bg--rs-gray-200 {
    background-color: var(--rs-gray-200);
}

.bg--rs-gray-300 {
    background-color: var(--rs-gray-300);
}

.txt--rs-gray-600 {
    color: var(--rs-gray-600);
}

.txt--rs-gray-500 {
    color: var(--rs-gray-500);
}

.txt--rs-gray-400 {
    color: var(--rs-gray-400);
}

.txt--rs-blue {
    color: var(--rs-blue);
}

.txt--rs-red {
    color: var(--rs-red);
}

.txt--rs-purple {
    color: var(--rs-purple);
}