:root {
    --rs-red: #E3646E;
    --rs-purple: #BB72E9;
    --rs-blue: #3996DB;
    --rs-green: #82BC4F;
    --rs-yellow: #EABD5F;
    --rs-gray-100: #0D0E11;
    --rs-gray-200: #16181D;
    --rs-gray-300: #292C34;
    --rs-gray-400: #878EA1;
    --rs-gray-500: #C0C4CE;
    --rs-gray-600: #E2E4E9;
}